/* Font */
@font-face {
    font-family: 'IMFellDWPica-Regular';
    src: url('/fonts/IM_Fell_DW_Pica/IMFellDWPica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IMFellDWPica-Italic';
    src: url('/fonts/IM_Fell_DW_Pica/IMFellDWPica-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* General Styling */
body {
    background-color: #e0d6b7; 
    margin: 0;
    padding: 0;
    font-family: 'IMFellDWPica-Regular', serif;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

/* Main Content */

main {
    padding: 20px;
    text-align: center;
}

h1 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.logo {
    border-radius: 50%;
}

p {
    padding-bottom: 20px;
    font-size: 1.25em;
}

/* Journal Entry */

.journal-entry {
    padding-bottom: 0;
}

.trip-heading{
    padding-bottom: 20px;
}

.travel-heading {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Buttons */
.entry-button,
.view-entries-button, 
.navigation-button,
.submit-button {
    background-color: #805c35; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-family: 'IMFellDWPica-Regular', serif;
}

.entry-button:hover,
.view-entries-button:hover, 
.navigation-button:hover,
.submit-button:hover {
    background-color: #4b724e;
    font-family: 'IMFellDWPica-Regular', serif;
}

/* Forms */
input[type="text"],
input[type="date"],
textarea {
    border: none;
    background-color: #f5f5f4; 
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: serif;
    font-size: 18px;
}

.input-group {
    margin-bottom: 20px; 
}

.input-group label {
    display: block; 
}

.input-group textarea {
    width: 500px; 
}

.cities-visited,
.experience {
    padding-bottom: 20px;
}

/* Navigation Buttons */

.navigation-buttons {
    text-align: center; 
    margin-top: 400px; 
}

.navigation-button {
    display: inline-block; 
    margin: 10px; 
}

/* Footer */
footer {
    color: #333; 
    padding: 20px 20px;
    text-align: center;
    font-size: 0.7em;
    margin-top: 40px; 
}

.copyright-text {
    margin-top: 35px;
}

.container {
    max-width: 960px;
    margin: 0 auto; 
    padding-left: 20px; 
    padding-right: 20px;
    text-align: center; 
}

/* Centering the edit entry page content */
.edit-entry-form-container {
    width: 80%; 
    max-width: 600px; 
    margin: auto; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: -250px;
}

/* Edit Entry Form */

#edit-entry-form input,
#edit-entry-form textarea {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#edit-entry-form button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px 20px;;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#edit-entry-form button:hover {
    background-color: #45a049;
}

#edit-entry-form #delete-entry-button {
    background-color: #e53935; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#edit-entry-form #delete-entry-button:hover {
    background-color: #c62828; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.button-container #save-changes-button {
    width: calc(50% - 150px); 
}

.button-container #delete-entry-button {
    width: calc(50% - 150px); 
    margin-left: 20px;
}

/* Styling for the entry container */
.entry {
    padding-bottom: 20px; 
    margin-bottom: 20px; 
}

.entry {
    border-bottom: 1px solid darkgray;
}

.entry:last-child {
    border-bottom: none; 
    margin-bottom: 0; 
}

/* Media Queries for Responsiveness */

/* For screens smaller than 600px (smartphones) */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 2em; 
    }
    
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* Adjust input and textarea sizes for better usability on small screens */
    input[type="text"],
    input[type="date"],
    textarea {
        width: calc(100% - 20px); 
        max-width: 100%; 
        margin: 5px 0;
    }

    /* Adjust button sizes for better usability on small screens */
    .entry-button,
    .view-entries-button, 
    .navigation-button,
    .submit-button {
        padding: 8px 16px; 
        font-size: 0.9em; 
    }
}

